footer.experiencefragment .container.responsivegrid {
    float: left !important;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5)
}

#footer .aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--12 {
    float: none !important
}

@media(min-width: 992px) {
    #footer {
        padding:7.5rem 0 5.6rem 0
    }
}

@media(max-width: 991.98px) {
    #footer .container.responsivegrid.aem-GridColumn.aem-GridColumn--default--12 {
        padding:0
    }
}

#footer .ups-commons-footer-accordion {
    padding: 0
}

@media(min-width: 992px) {
    #footer .ups-commons-footer-accordion {
        margin-bottom:4.4rem
    }
}

@media(max-width: 991.98px) {
    #footer .ups-commons-footer-accordion {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media(max-width: 991.98px) {
    #footer .ups-commons-footer-top-level {
        padding:0
    }
}

#footer .ups-commons-top-navigation {
    padding-left: 0 !important;
    padding-right: 0 !important
}

#footer .ups-commons-top-navigation .cmp-navigation__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media(min-width: 992px) {
    #footer .ups-commons-top-navigation .cmp-navigation__group {
        -ms-flex-wrap:wrap;
        flex-wrap: wrap;
        max-height: 24.2rem;
        overflow: hidden
    }
}

@media(min-width: 992px) {
    #footer .ups-commons-top-navigation .cmp-navigation__group .cmp-navigation__item {
        width:50%
    }
}

#footer .ups-commons-top-navigation .cmp-navigation__group .upspr {
    margin-left: .2rem;
    font-size: 1.4rem
}

#footer .ups-commons-top-navigation .cmp-navigation__group .upspr:hover {
    opacity: .6
}

@media(min-width: 992px) {
    #footer .ups-commons-top-navigation.navigation-full-width .cmp-navigation__group .cmp-navigation__item {
        width:100%
    }
}

@media(max-width: 991.98px) {
    #footer .ups-commons-top-navigation {
        max-height:0;
        overflow: hidden;
        padding: 0 3.2rem !important
    }

    #footer .ups-commons-top-navigation.active {
        max-height: 100%;
        padding: 1rem 3.2rem;
        margin: 1.2rem 0
    }
}

#footer .ups-commons-top-navigation .aem-GridColumn--default--6 {
    padding: 0
}

#footer .ups-commons-footer-heading {
    line-height: 1.17;
    position: relative
}

@media(min-width: 992px) {
    #footer .ups-commons-footer-heading {
        margin-bottom:2.4rem
    }
}

#footer .ups-commons-footer-heading.active::after {
    -webkit-transition: .5s;
    transition: .5s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

@media(max-width: 991.98px) {
    #footer .ups-commons-footer-heading::after {
        content:"expand_more";
        font-family: "upspricons";
        display: inline-block;
        font-size: 1.6rem;
        top: 1.5rem;
        right: 3.3rem;
        position: absolute
    }
}

@media(max-width: 991.98px) {
    #footer .ups-commons-footer-heading {
        background:0;
        padding: 1.5rem 3.2rem;
        margin: 0
    }

    #footer .ups-commons-footer-heading span {
        margin-right: 3.2rem
    }

    #footer .ups-commons-footer-heading.active span {
        -webkit-transition: .5s;
        transition: .5s;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

#footer .ups-commons-footer-container {
    padding-left: 0
}

#footer .ups-commons-footer-container:last-child {
    padding-right: 0
}

@media(max-width: 991.98px) {
    #footer .ups-commons-footer-container {
        width:100%;
        padding: 0
    }
}

#footer .ups-commons-footer-container-footer-seperator .cmp-separator__horizontal-rule {
    height: .2rem
}

#footer .ups-commons-footer-container .cmp-navigation {
    padding-left: .8rem
}

#footer .ups-commons-footer-container .cmp-navigation__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

#footer .ups-commons-footer-container .cmp-navigation__item-link {
    display: block;
    font-size: 1.4rem;
    position: relative;
    padding: 1.2rem 0;
    line-height: 1.15
}

#footer .ups-commons-footer-container .cmp-navigation__item-link .link-icon {
    width: 1.2rem;
    height: 100%;
    margin-bottom: .4rem;
    margin-left: .6rem;
    -webkit-filter: invert(1);
    filter: invert(1)
}

#footer .ups-commons-footer-container .cmp-navigation__item-link:hover {
    text-decoration: underline
}

#footer .ups-commons-footer-container .cmp-navigation .upspr {
    margin-left: .2rem;
    font-size: 1.4rem;
    vertical-align: text-top
}

#footer .ups-commons-footer-container .cmp-navigation .upspr:hover {
    opacity: .6
}

#footer .ups-commons-footer-social-media-button .cmp-button {
    background: 0;
    border: 0;
    padding: 1.2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-left: .8rem
}

#footer .ups-commons-footer-social-media-button .cmp-button__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 1.4rem;
    line-height: 1.15
}

#footer .ups-commons-footer-social-media-button .cmp-button__text:hover {
    text-decoration: underline
}

#footer .ups-commons-footer-social-media-button .cmp-button__icon {
    font-family: "upspricons",Tahoma,helvetica,arial,sans-serif;
    font-size: 1.6rem;
    border-radius: .3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: .8rem
}

#footer .ups-commons-footer-social-media-button .cmp-button .upspr {
    font-size: 1.2rem;
    margin-left: .8rem
}

#footer .ups-commons-footer-social-media-button .cmp-button .upspr-icon-facebook {
    color: #1877f2;
    background: #fff
}

#footer .ups-commons-footer-social-media-button .cmp-button .upspr-icon-twitter {
    background: #1877f2
}

#footer .ups-commons-footer-social-media-button .cmp-button .upspr-icon-linkedin {
    background: #0053bf
}

#footer .ups-commons-footer-social-media-button .cmp-button .upspr-icon-youtube {
    background: #bf0000
}

#footer .ups-commons-footer-social-media-button .cmp-button:hover {
    opacity: .6
}

#footer .separator .cmp-separator__horizontal-rule {
    height: .2rem
}

@media(max-width: 991.98px) {
    #footer .separator .cmp-separator__horizontal-rule {
        display:none
    }
}

@media(min-width: 992px) {
    #footer .separator {
        margin-bottom:1.2rem
    }
}

#footer .legal-heading {
    position: relative
}

@media(min-width: 992px) {
    #footer .legal-heading {
        display:none
    }
}

#footer .legal-heading.active::after {
    -webkit-transition: .5s;
    transition: .5s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

@media(max-width: 991.98px) {
    #footer .legal-heading::after {
        content:"expand_more";
        font-family: "upspricons";
        display: inline-block;
        font-size: 1.6rem;
        top: 1.5rem;
        right: 3.3rem;
        position: absolute
    }
}

@media(max-width: 991.98px) {
    #footer .legal-heading {
        background:0;
        padding: 1.5rem 3.2rem;
        margin: 0
    }

    #footer .legal-heading span {
        margin-right: 3.2rem
    }

    #footer .legal-heading.active span {
        -webkit-transition: .5s;
        transition: .5s;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

#footer .bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0
}

@media(max-width: 991.98px) {
    #footer .bottom-footer {
        padding:1rem 3rem;
        margin: 0 !important
    }
}

@media(min-width: 992px) {
    #footer .bottom-footer .ups-commons-footer-heading {
        display:none
    }
}

#footer .bottom-footer .up-commons-top-navigation {
    padding-left: 0 !important;
    padding-right: 0 !important
}

@media(max-width: 991.98px) {
    #footer .bottom-footer .up-commons-top-navigation {
        overflow:hidden;
        padding: 0 3.2rem !important;
        margin: 0
    }

    #footer .bottom-footer .up-commons-top-navigation.active {
        max-height: 100%;
        padding: 1rem 3.2rem
    }
}

#footer .bottom-footer .up-commons-top-navigation .aem-GridColumn--default--6 {
    padding: 0
}

#footer .bottom-footer .cmp-navigation {
    padding-left: 0
}

@media(min-width: 992px) {
    #footer .bottom-footer .cmp-navigation {
        margin-left:-1rem
    }
}

#footer .bottom-footer .cmp-navigation__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem
}

@media(min-width: 992px) {
    #footer .bottom-footer .cmp-navigation__group {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto !important;
        padding-top: 0;
        padding-bottom: 0
    }
}

#footer .bottom-footer .cmp-navigation__group .cmp-navigation__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: unset
}

@media(min-width: 992px) {
    #footer .bottom-footer .cmp-navigation__group .cmp-navigation__item {
        -ms-flex-wrap:wrap;
        flex-wrap: wrap
    }
}

@media(max-width: 991.98px) {
    #footer .bottom-footer .cmp-navigation__group .cmp-navigation__item {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media(min-width: 992px) {
    #footer .bottom-footer .cmp-navigation__group .cmp-navigation__item:last-child a::after {
        display:none
    }
}

#footer .bottom-footer .cmp-navigation__group .cmp-navigation__item-link {
    font-size: 1.4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
    line-height: 1.15;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem
}

@media(max-width: 991.98px) {
    #footer .bottom-footer .cmp-navigation__group .cmp-navigation__item-link {
        margin-left:0rem;
        margin-right: 6rem;
        font-size: 1.4rem
    }
}

@media(min-width: 992px) {
    #footer .bottom-footer .cmp-navigation__group .cmp-navigation__item-link::after {
        content:"|";
        position: absolute;
        right: -1rem;
        bottom: 0;
        top: 1.2rem
    }
}

@media(min-width: 992px) {
    #footer .legal-separator {
        display:none
    }
}

#footer .copy-right {
    padding-top: 1.2rem
}

@media(max-width: 991.98px) {
    #footer .copy-right {
        padding:2.4rem 3.2rem
    }
}

#footer .copy-right .cmp-text h4 {
    line-height: 1.43
}
