/* body, p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:brown;
    font-size: larger;
    background-color: rgba(127, 255, 212, 0.378);
}

input, button {
    margin-bottom: 15px;
}
div {
    display: flex;
    flex-direction: column;
    color: rgb(106, 165, 228);
    background-color: bisque;
    padding: 2%;
}
#canvasDiv{
    background: rgb(202, 182, 157);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200%;
}
.chart{
    padding: 2rem
} */
.header{
  height: 4.8rem;
  width: auto;
}
.breadcrumb {
  display: -webkit-box;
  -webkit-box-align: center;
  align-items: center;
  padding: 1.6rem 0;
  display: inline-block;
  list-style: none;
  background: f2f1ef;
  flex-wrap: wrap;
}
.breadcrumb-nav{
  display: inline-block;
  list-style: none;
  width: 100%;
  /* padding: 1.6rem 0; */
  unicode-bidi: isolate;
  --bs-gutter-x: 6.4rem;
  --bs-gutter-y: 6.4rem;
}
.aem-GridColumn{
  float: none;
  clear: none;
  width: 100%;
  box-sizing: border-box;
}
.breadcrumb-item{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  vertical-align: top;
}
.container {
  --bs-gutter-x: 6.4rem;
  --bs-gutter-y: 6.4rem;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}
@media (min-width: 576px) {
  .container-sm, .container {
      max-width: 540px;
  }
}