@media(max-width:767.98px){.text-center{text-align:left !important}
}
@media(min-width:768px){.text-center .cmp-title{padding:0 12.5%;text-align:center}
.text-center .cmp-title .eyebrow{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.text-center .cmp-title__text:after{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
}
@media(min-width:992px){.text-center .cmp-title{padding:0 16.5%}
}
@media(min-width:768px){ .cmp-title{padding:0 25% 0 0}
}
@media(min-width:992px){ .cmp-title{padding:0 33% 0 0}
}
 .cmp-title__text{position:relative;padding-bottom:1.6rem;display:inline-block}
@media(min-width:992px){ .cmp-title__text{padding-bottom:2rem}
}
 .cmp-title__text:after{content:"";display:block;position:absolute;bottom:0;width:7.2rem;left:0}
 .cmp-title__description, .cmp-title__subtitle{margin-top:1.6rem}
@media(min-width:992px){ .cmp-title__description, .cmp-title__subtitle{margin-top:2rem}
}
 .cmp-title--eyebrow .cmp-title__text{padding-bottom:0;margin:0}
@media(min-width:992px){ .cmp-title--eyebrow .cmp-title__text{margin:0}
}
 .cmp-title--eyebrow .cmp-title__text:after{display:none}
 .cmp-title--eyebrow .cmp-title__description, .cmp-title--eyebrow .cmp-title__subtitle{margin-top:1.2rem}
@media(min-width:992px){ .cmp-title--eyebrow .cmp-title__description, .cmp-title--eyebrow .cmp-title__subtitle{margin-top:2rem}
}
 .cmp-title--eyebrow .eyebrow{font-size:1rem;line-height:1.17;letter-spacing:1.5px;position:relative;margin-bottom:1.2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;text-transform:uppercase;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
@media(min-width:992px){ .cmp-title--eyebrow .eyebrow{margin-bottom:1.6rem}
}
 .cmp-title--eyebrow .eyebrow:before{content:"";display:inline-block;width:3.2rem;height:.3rem;border-radius:8px;margin-right:.6rem}