.site-search .cmp-search {
    margin-top: 2rem;
    margin-bottom: 4.8rem
}

@media(min-width: 768px) {
    .site-search .cmp-search {
        margin-bottom:6.4rem
    }
}

.site-search .cmp-search #siteSearchLoader {
    background: rgba(0,0,0,0);
    position: relative
}

.site-search .cmp-search #siteSearchLoader .modal-content {
    background: rgba(0,0,0,0);
    border: 0
}

.site-search .cmp-search .spinner-border {
    width: 6rem;
    height: 6rem
}

@media(min-width: 768px) {
    .site-search .cmp-search__group {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.site-search .cmp-search__input-container {
    position: relative;
    width: 100%;
    margin-bottom: 2.2rem
}

.site-search .cmp-search__input-container .upspr-icon-search {
    position: absolute;
    left: .8rem;
    top: calc(50% - 1.2rem);
    z-index: 1
}

@media(min-width: 768px) {
    .site-search .cmp-search__input-container {
        margin-bottom:0
    }
}

.site-search .cmp-search__input {
    position: relative;
    width: 100%;
    border-radius: .4rem;
    padding: 1rem 1.2rem 1rem 4rem
}

.site-search .cmp-search__clear {
    font-size: 1rem;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5
}

.site-search .cmp-search__clear span.upspr-icon-close {
    vertical-align: bottom
}

.site-search .cmp-search__suggestions,.site-search .cmp-search__recent {
    display: none;
    overflow-y: auto;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 4px 32px rgba(0,0,0,0.1);
    box-shadow: 0 4px 32px rgba(0,0,0,0.1);
    border: 0;
    border-radius: .4rem;
    text-align: left;
    margin-top: 1.2rem;
    padding: .8rem 0;
    max-height: 30vh
}

.site-search .cmp-search .eyebrow {
    font-size: 1rem;
    line-height: 1.17;
    letter-spacing: 1.5px;
    position: relative;
    margin: 1rem 0;
    padding: .4rem 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.site-search .cmp-search .eyebrow:before {
    content: "";
    display: inline-block;
    width: 3.2rem;
    height: .3rem;
    border-radius: 8px;
    margin-right: .6rem
}

.site-search .cmp-search__item,.site-search #uploadPdfBtn {
    display: block;
    width: 100%;
    padding: .4rem 2.4rem
}

.site-search #uploadPdfBtn {
    white-space: nowrap
}

@media(min-width: 768px) {
    #uploadPdfBtn {
        margin-left:1.6rem
    }
}

.site-search__header-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4rem;
    display: none
}

@media(min-width: 768px) {
    .site-search__header-container {
        margin-bottom:3.2rem
    }
}

.site-search__filterBy {
    padding: 1.85rem 1.2rem;
    border-radius: .4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    height: 61px
}

.site-search__filterBy span::before {
    font-size: 20px
}

@media(min-width: 768px) {
    .site-search__filterBy {
        padding:0;
        margin-bottom: 0
    }

    .site-search__filterBy span {
        display: none
    }
}

.site-search__accordion {
    display: none;
    padding: 1.6rem 1.2rem;
    border-radius: .4rem
}

.site-search__accordion:not(:last-child) {
    margin-bottom: 1.6rem
}

@media(min-width: 768px) {
    .site-search__accordion {
        display:block
    }
}

.site-search__accordion__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

.site-search__accordion__body {
    padding-top: 1.4rem;
    display: none
}

.site-search__accordion__body .accordian--item {
    position: relative;
    cursor: pointer;
    display: block;
    margin-left: 1.6rem;
    margin-right: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.site-search__accordion__body .accordian--item:not(:last-child) {
    margin-bottom: 1.6rem
}

.site-search__accordion__body .accordian--item__text {
    margin-left: 3.2rem;
    display: inline-block;
    width: calc(100% - 8.9rem)
}

.site-search__accordion__body .accordian--item__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.site-search__accordion__body .accordian--item__input:checked ~ .accordian--item__mark::before {
    display: block
}

.site-search__accordion__body .accordian--item__mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: .4rem;
    padding: .7rem .6rem
}

.site-search__accordion__body .accordian--item__mark::before {
    content: "";
    position: absolute;
    display: none;
    left: 10px;
    top: 5px;
    width: 5px;
    height: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.site-search__accordion__body .accordian--item__pill {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 4rem;
    height: 2.5rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    line-height: 1.17;
    margin-left: 1.3rem
}

.site-search__accordion.expanded .site-search__accordion__body {
    display: block
}

.site-search__accordion.expanded .site-search__accordion__header span {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.site-search__headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

@media(min-width: 768px) {
    .site-search__headers {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.site-search__nofItems {
    margin-top: 4.8rem;
    text-align: left
}

@media(min-width: 768px) {
    .site-search__nofItems {
        margin-top:0
    }
}

@media(min-width: 768px) and (max-width:991.98px) {
    .site-search__nofItems {
        margin-left:-6.7rem;
        margin-right: 2rem
    }
}

.site-search__nofItems #totalresult {
    margin: 0
}

.site-search__nofItems #totalpage {
    letter-spacing: 1px
}

.site-search__sort {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.site-search__sortText {
    line-height: 1.17;
    display: none
}

@media(min-width: 768px) {
    .site-search__sortText {
        display:inline-block
    }
}

.site-search__sortdropdown {
    width: 100%;
    position: relative
}

@media(min-width: 768px) {
    .site-search__sortdropdown {
        margin-left:1.6rem;
        width: 19.6rem
    }
}

.site-search__sortdropdown__text {
    padding: 1.5rem 1.2rem;
    border-radius: .4rem;
    display: inline-block;
    width: inherit;
    position: relative
}

@media(max-width: 767.98px) {
    .site-search__sortdropdown__text {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 61px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .site-search__sortdropdown__text span {
        top: 2rem
    }
}

.site-search__sortdropdown__text span {
    margin-left: 1.2rem;
    right: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute
}

.site-search__sortdropdown ul {
    position: absolute;
    width: inherit;
    display: none;
    left: 0;
    padding: 1.6rem 1.1rem;
    z-index: 1
}

.site-search__sortdropdown ul li:first-child {
    margin-bottom: 1.6rem
}

.site-search__sortdropdown ul:hover {
    display: block
}

.site-search__sortdropdown:hover .site-search__sortdropdown__text span {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

.site-search__sortdropdown:hover ul {
    display: block
}

.site-search__sortdropdown__radio {
    position: absolute;
    opacity: 0
}

.site-search__sortdropdown__radioText:before {
    content: "";
    border-radius: 100%;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    margin-right: .8rem;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease
}

.site-search__sortdropdown__radio:checked ~ .site-search__sortdropdown__radioText::before {
    border: 0
}

.site-search__sortdropdown__radio:focus ~ .site-search__sortdropdown__radioText::before {
    outline: 0
}

.site-search__content {
    padding: 2.4rem 0
}

@media(min-width: 768px) {
    .site-search__content {
        padding-left:2.4rem;
        padding-right: 2.4rem
    }
}

.site-search__content__eyebrowText {
    margin-bottom: 1.2rem
}

.site-search__content__eyebrowText::before {
    content: "";
    display: inline-block;
    width: 3.2rem;
    height: .4rem;
    border-radius: 8px;
    margin-right: .4rem
}

.site-search__content__title {
    margin-bottom: 1.2rem
}

.site-search__content__desc {
    margin-bottom: 1.2rem
}

.site-search__content__Date {
    margin-bottom: 1.2rem
}

.site-search__content__moreLink span {
    margin-left: .2rem;
    vertical-align: bottom
}

.site-search__pagination {
    margin-top: 4.8rem;
    margin-bottom: 1.2rem;
    text-align: center
}

.site-search__pagination__next {
    margin-left: .8rem;
    margin-right: 1.6rem
}

.site-search__pagination__next span {
    margin-left: .8rem;
    font-size: 1.2rem
}

.site-search__pagination__button {
    width: 4rem;
    height: 4rem;
    border-radius: .4rem;
    margin-right: .8rem;
    margin-bottom: .8rem
}

.site-search__pagination__seperator {
    margin-right: 1.6rem;
    font-size: 1rem;
    padding: 1.4rem 0
}

@media(min-width: 768px) {
    .site-search__pagination {
        text-align:left
    }
}

.site-search .pagination-container {
    display: none
}

.site-search .pagination-container .pagination-wrapper {
    margin: 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.site-search .pagination-container input::-webkit-outer-spin-button,.site-search .pagination-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.site-search .pagination-container input[type="number"] {
    -moz-appearance: textfield;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    margin: auto 1rem;
    outline: 0
}

.site-search .pagination-container p {
    margin: 0
}

.site-search .pagination-container p span {
    margin-left: 4px
}

.site-search .pagination-container button {
    outline: 0;
    border: 0;
    background: 0;
    padding: 0
}

.site-search .pagination-container .next {
    margin-right: 1rem
}

.site-search__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5);
    display: none;
    z-index: 100
}

.site-search__modal {
    position: absolute;
    top: 50vh;
    left: 50vw;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 85vh;
    overflow: auto;
    width: 90%;
    padding: 3.5rem 3.2rem
}

.site-search__modal__filterBy {
    border-radius: .4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4.2rem
}

.site-search__modal__actionContainer {
    margin-top: 4.2rem
}

.site-search__modal .site-search__accordion {
    display: block
}

.site-search .sorryDiv {
    padding: 2rem 0 6rem 0
}

.site-search .sorryDiv h2,.site-search .sorryDiv span {
    padding-top: 5rem;
    line-height: 1.2;
    margin-bottom: 2.4rem
}
